<a href="https://colab.research.google.com/github/khanittha-phusopha/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อดีหนึ่งของ python คือ package สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น Package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตารางโดย pandas 

จะเรียกตารางว่า datafram

In [69]:
import pandas #เรียกใช้ package โดยการ import ต่อด้วยชื่อ package

In [70]:
import pandas as pd #เป็นการ import เหมือนกันแต่เปลี่ยนการตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์.csv (csv=comma separated values) เป็นไฟล์หลักที่จะต้องใช้ในวิชานี้

In [71]:
data_df = pd.read_csv('data.csv')    #ใช้คำสั่งเพื่อนำ data เข้ามา

In [72]:
data_df   #เรียกดู data

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15     Bankok
2  Sarah   49     London

In [73]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15     Bankok
2  Sarah   49     London

##Basic Python
variable

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [74]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a

In [79]:
variable_a

12

In [80]:
variable_b

'abcde'

In [81]:
variable_c

12

In [78]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
# พยายามใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้แต่ไม่ควรใช้
ตัวแปร = 3           
ตัวแปร

In [ ]:
# ตัวเล็กกับตัวใหญ่ต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [ ]:
print(variable)

In [ ]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a
variable_d = -41.2
variable_4 = "KKU"  # " เรียกว่า double quote

In [ ]:
variable_x =  variable_c + variable_d
print(variable_x)

In [ ]:
variable_x

In [ ]:
variable_a + variable_b

In [ ]:
print(variable_b + variable_4)  # print สามารถพิมพ์อะไรก็ได้ลงไปใน ()

##Casting int() str()
เปลี่ยนชนิดของตัวแปรได้

In [ ]:
print(variable_x)            # เปลี่ยนให้เป็นจำนวนเต็ม ตอนแรกเป็น float เป็น int
print(int(variable_x))

In [ ]:
V_X = str(variable_x)
print(V_X)

In [ ]:
V_X + variable_a

In [ ]:
variable_a + V_X

In [ ]:
V_X

In [ ]:
float(V_X)

## Data Structure
### list()

In [ ]:
list_a = [1,2,0.2,'abs' ]  # [ ] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

In [ ]:
list_b

In [ ]:
len(list_b)   # ดูว่าใน list_b มีสมาชิกกี่ตัว

In [ ]:
list_b[3]

In [ ]:
list_b[3][1]

string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

##วิธีการสร้าง list ว่าง

In [ ]:
list_c = list()  #แบบที่ 1
list_d = []      #แบบที่ 2

In [ ]:
list_c

In [ ]:
list_d

เติมค่าลงไปใน list (.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

In [ ]:
list_d.append(56)

In [ ]:
list_d

##การชี้ค่าใน list (indexing)
3.ใช้ลำดับในการชี้

2.ลำดับเริ่มจาก 0

3.สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

In [ ]:
list_b[-1]   #ชี้ค่าข้างหลังสุด

##list slicing
เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง]
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [ ]:
list_ex[1:6]   # : สัญลักษณ์ของ slicing
                   # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง]

In [ ]:
list_ex[4:]

In [ ]:
list_ex[:6]


#list_ex[:6]
[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

In [ ]:
list_ex[::2]

In [ ]:
list_ex[::-1]   # การกลับ list จากหลังมาหน้า จากหน้ามาหลัง

In [ ]:
a

In [ ]:
a[5:]

In [ ]:
a[-3:]

In [ ]:
a[5:8]

In [ ]:
a[5::]

In [ ]:
a[-3::]

In [ ]:
a[-3::1]

### list + list

In [ ]:
print(list_a)
print(list_b)

In [ ]:
list_a + list_b

format string

f 'string{ตัวแปร}'

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

In [ ]:
f'ตัวแปร list_ex มีค่าคือ {list_ex}'

##Loop

```python
for ตัวแปรที่จะรับค่าจาก list in list:
     do something
```

In [ ]:
for i in [1,2,3,4,5]:
     print(i+1)

In [ ]:
for x in [1,2,3,4,5]:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

In [ ]:
list(range(10))

In [ ]:
for i in range(2,7):
     print(i)

In [ ]:
for i in range(2,7,2):
     print(i)

In [ ]:
for i in range(5):
     print('hahaha')

In [ ]:
for i in range(5):
     print('hahaha')
     x = i + 3
     print(f'i={i} x={x}')

##Nested loop
loopซ้อนloop

In [ ]:
for i in range(3):
     print(f' now i = {i}')
     print('start j loop')
     for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')
     print('end j loop')

##Condition
Function